html {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: #2d2d2d;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1vh 10vw;
    margin: 1vh 0 1vh 0;
    font-weight: 900;
    z-index: 1;
    font-size: 1.7vh;
}

.logoName {
    display: flex;
    gap: 0.5vw;
    justify-content: left;
    align-items: center;
    gap: 2vw;
}

.logoName p {
    font-size: 2.5vh;
    margin: 0;
}

.navigation {
    display: flex;
    gap: 2vw;
}

.buttonNav div {
    width: 17vh;
    height: 5vh;
    border-radius: 0.2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #7D3B58;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.buttonNav div a {
    font-weight: 600;
    outline: none;
    text-decoration: none;
    color: #7D3B58;
    font-size: 2vh;
}

.buttonNav div:hover {
    bottom: 1px;
}

/* HERO */

.coolBackground {
    background-image: url("../images/pattern.png");
    background-color: #c8d5d8;
    background-size: 20%;
}

.heroSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10vh 0 10vh 0;
    color: #333;
}

.heroSection h1 {
    font-weight: 900;
    letter-spacing: -0.070em;
    font-size: 7.5vw;
    line-height: 15vh;
    margin: 0vh 25vw 7vh 10vw;
    text-align: left;
}

.highlight {
    color: #7D3B58;
}

.mapImage {
    height: 10vh;
}

.heroSection p {
    font-size: 3vh;
    font-weight: 600;
    margin: 0 55vw 0 10vw;
    text-align: left;
}

.buttonHero {
    display: flex;
    justify-content: left;
    margin: 7vh 0 0vh 10vw;
}

.buttonHero div {
    width: 30vh;
    height: 8vh;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7D3B58;
    text-align: center;
}

.buttonHero div a {
    font-weight: 600;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: white;
    position: relative;
    font-size: 2.5vh;
}

.buttonHero div:hover {
    bottom: 1px;
}

/* SERVICES */

#serviceSection {
    display: flex;
    flex-direction: column;
    padding: 6vh 10vw 5vh 10vw;
}

#serviceSubtitle {
    color: #7D3B58;
    font-weight: 900;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
}

.sectionTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    font-size: 3vh;
}

.sectionTitle h1 {
    margin: 0;
    margin-bottom: 6vh;
}

.blocks {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    margin-bottom: 5vh;
}

.block {
    flex: 1;
    padding: 1vw;
    border-radius: 1vh;
}

.block p {
    line-height: 3.5vh;
    color: rgb(105, 105, 105);
}

/* PORTFOLIO */

.portfolio {
    background-color: #686868;
    padding: 7vh 11vw;
    box-sizing: border-box;
    background-image: url("../images/pattern-2.png");
}

#portfolioSubtitle {
    color: white;
    font-weight: 900;
    font-size: 2.5vh;
    display: flex;
    margin-top: 5vh;
}

.portfolio h1 {
    margin: 0vh 0 10vh 0;
    font-size: 6vh;
    color: white;
}

.projects {
    display: flex;
    gap: 2vw;
}

.project {
    height: 50vh;
    width: 33.3%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolioTextDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1.5vw;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 7px;
}

.project:hover .portfolioTextDiv {
    opacity: 1;
}

.buttonPortfolio {
    display: flex;
    justify-content: left;
    margin-top: 3vh;
}

.buttonPortfolio a.full-link {
    width: 30vh;
    height: 6vh;
    border-radius: 0.4vh;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7D3B58;
    text-align: center;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 2vh;
    position: relative;
}

.buttonPortfolio a.full-link:hover {
    background-color: #6A324D; /* Optional: Darken the background on hover */
}

.buttonPortfolio div:hover {
    bottom: 1px;
}

/* PRICING */

#serviceSection {
    display: flex;
    flex-direction: column;
    padding: 8vh 10vw 5vh 10vw;
}

#pricingSubtitle {
    color: #7D3B58;
    font-weight: 900;
    font-size: 2.5vh;
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.pricingBlocks {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    margin-bottom: 5vh;
}

.pricingBlock {
    flex: 1;
    padding: 2vh 2vw;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
}

.pricingBlock h1 {
    color: #7d3b58;
}

.note {
    line-height: 3.5vh;
    color: rgb(105, 105, 105);
}

.price {
    font-size: 5vh;
    font-weight: 900;
    margin-top: auto;
    border-top: 1px solid #d4d4d4; /* Adjust the color and thickness as needed */    
}

.buttonPricing {
    display: flex;
    justify-content: left;
    margin: 3vh 0;
}

.buttonPricing div {
    width: 30vh;
    height: 6vh;
    border-radius: 0.4vh;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #7D3B58;
}

.buttonPricing div a {
    font-weight: 600;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: #7D3B58;
    position: relative;
    font-size: 2vh;
}

.buttonPricing div:hover {
    bottom: 1px;
}


/* CONTACT FORM */

.contactSection {
    background-color: #333;
    color: rgb(248, 248, 248);
}

.contactTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5vh;
    padding: 4vh 0vw;
}

.form {
    font-family: 'Montserrat', sans-serif;
    padding: 0 15vw;
    font-weight: 800;
    line-height: 5vh;
}

.nameEmail {
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%;
}

.nameEmail div {
    width: 100%;
}

.nameEmail input {
    width: 100%;
    height: 7vh;
    font-family: inherit;
    box-sizing: border-box;
    padding: 2vh 1vw;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.message textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    padding: 4vh 2vw;
    box-sizing: border-box;
    margin: 0;
}

.sendMessageButton {
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: #7D3B58; 
    color: #f8f8f8;
    font-family: inherit;
    font-weight: 700;
    border-width: 0;
    border-radius: 4px;
    margin: 2vh 0;
}

.sendMessageButton:hover {
    background-color: #6b334b;
}

/* FOOTER */

@media (max-width: 1000px) {

    /* HEDEAR */

    .header {
        padding: 2vh 10vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
    }

    .logoName a {
        font-size: 2vh;
    }

    .buttonNav div {
        width: 25vw;
        height: 3vh;
    }

    .buttonNav div a {
        font-size: 1.3vh;
    }

    /* HERO */

    .heroSection {
        padding: 4vh 0;
    }

    .heroSection h1 {
        font-size: 12vw;
        line-height: 10vw;
        margin-right: 15vw;
        margin-bottom: 5vh;
    }

    .heroSection p {
        font-size: 3vw;
    }

    .buttonHero div {
        width: 40vw;
        height: 5vh;
    }

    .buttonHero div a {
        font-size:  1.8vh;
    }

    /* SERVICE */

    #serviceSubtitle {
        font-size: 1.5vh;
        justify-content: flex-start;
    }

    .mediaTitle {
        justify-content: flex-start;
    }

    .sectionTitle h1 {
        font-size: 4vh;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* PORTFOLIO */

    #portfolioSubtitle {
        font-size: 1.5vh;
    }

    #portfolioTitle {
        font-size: 4vh;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project {
        width: 100%;
    }

    .project .portfolioTextDiv {
        opacity: 1;
    }    

    /* PRICING */

    #pricingSubtitle {
        font-size: 1.5vh;
    }

    .sectionTitle {
        font-size: 2vh;
    }

    .pricingBlocks {
        flex-direction: column;
    }

    .pricingBlock {
        margin-bottom: 4vh;
    }

    /* CONTACT */

    .contactTitle {
        font-size: 2vh;
        margin: 0 15vw;
    }

    .form {
        line-height: 3vh;
    }

    .nameEmail {
        flex-direction: column;
        gap: 1vw;
    }

    .nameEmail input {
        width: 100%;
        height: 4vh;
    }

    .sendMessageButton {
        font-size: 1.5vh;
    }
}