@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f8f8;
    color: #333333;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.coolBackground {
    background-image: url("./images/pattern.png");
    background-color: #c8d5d8;
    background-size: 20%;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 2vh 15vw;
    margin: 1vh 0 1vh 0;
    font-weight: 900;
    z-index: 1;
    font-size: 1.7vh;
}

.logoName {
    display: flex;
    gap: 0.5vw;
    justify-content: left;
}

.logoName p {
    font-size: 2vh;
    margin: 0;
}

.buttonNav div {
    width: 17vh;
    height: 5vh;
    border-radius: 0.2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #7D3B58;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.buttonNav div a {
    font-weight: 600;
    outline: none;
    text-decoration: none;
    color: #7D3B58;
}

.buttonNav div:hover {
    bottom: 1px;
}

/* HERO SECTION */

.heroSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0 0 5vh 0;
    color: #333;
}

.heroSection h1 {
    font-weight: 900;
    letter-spacing: -0.070em;
    font-size: 8vw;
    line-height: 6vw;
    margin-bottom: 1vh;
    margin: 5vh 20vw;
}

.highlight {
    color: #7D3B58;
}

.mapImage {
    height: 10vh;
}

/* SUBTITLE */

.heroSection p {
    font-size: 3vh;
    font-weight: 900;
    margin: 0 20vw;
}

/* BUTTON */

.button {
    display: flex;
    justify-content: center;
    margin: 4vh 0 10vh 0;
}

.button div {
    width: 25vh;
    height: 7vh;
    border-radius: 0.4vh;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 2px 0px #ffffff80,
        7px 7px 20px 0px #0000001a,
        4px 4px 5px 0px #0000001a;
    background-color: #7D3B58;
    text-align: center;
}

.button div a {
    font-weight: 600;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: white;
    position: relative;
    font-size: 1.9vh;
}

.button div:hover {
    bottom: 1px;
}

/* CHOROPLETHMAP */

.choroplethMap {
    display: flex;
    justify-content: center;
    margin: 0 0 5vh 0;
}

#choroplethMap {
    height: 70vh;
    width: 80vw;
    border-radius: 0.5vw;
}

/* SERVICES SECTION */

#serviceSection {
    padding: 3vh 10vw;
    display: flex;
    flex-direction: column;
    margin: 4vh 0 5vh 0;
}

/* TITLE */

.sectionTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    font-size: 3vh;
}

/* BLOCKS */

.blocks {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    margin-bottom: 5vh;
}

.block {
    flex: 1;
    padding: 1vw;
    border-radius: 1vh;
}

.block p {
    line-height: 3.5vh;
}

/* PLOTTED MAP */

.plottedMap {
    display: flex;
    justify-content: center;
}

#plottedMap {
    height: 50vh;
    width: 80vw;
    border-radius: 1vw;
}

/* CONTACT FORM */

.contactSection {
    background-color: #333;
    color: rgb(248, 248, 248);
}

.contactTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4vh;
}

.form {
    font-family: 'Montserrat', sans-serif;
    padding: 0 15vw;
    font-weight: 800;
    line-height: 6vh;
}

.nameEmail {
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%;
}

.nameEmail div {
    width: 100%;
}

.nameEmail input {
    width: 100%;
    height: 7vh;
    font-family: inherit;
    box-sizing: border-box;
    padding: 2vh 1vw;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.message textarea{
    width: 100%; 
    border-radius: 5px;
    font-family: inherit;
    padding: 4vh 2vw;
    box-sizing: border-box;
}

.sendMessageButton {
    justify-content: center; 
    width: 35vw; 
    height: 6vh; 
    background-color: #7D3B58; 
    color: #f8f8f8;
    font-family: inherit;
    font-weight: 700;
    border-width: 0;
    border-radius: 4px;
}

.sendMessageButton:hover {
    background-color: #6b334b; /* Darker green on hover */
}

/* FOOTER */

@media (max-width: 1118px) {

    .header {
        padding: 2vh 10vw;
    }

    .buttonNav div {
        width: 25vw;
        height: 3vh;
    }

    .buttonNav div a {
        font-size: 3vw;
    }

    .button div {
        width: 40vw;
        height: 5vh;
    }

    .button div a {
        font-size: 3.5vw;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .heroSection h1 {
        font-size: 12vw;
        margin: 4vh 12vw;
        line-height: 10vw;
    }

    .heroSection p {
        font-size: 3vw;
    }

    .form {
        line-height: 3vh;
    }

    .nameEmail {
        flex-direction: column;
        gap: 1vw;
    }

    .nameEmail input {
        width: 100%;
        height: 4vh;
    }
}