body {
    color: #002FA7;
    padding: 0 0.00vw;
    font-family: 'Space Mono';
    text-align: justify;
}

.navigation {
    position: relative;
    width: 100%;
    z-index: 1;
}

.nav-items {
    display: flex;
    gap: 2vw;
    position: absolute;
    right: 1vw;
    font-size: 1vw;
}

.landingTitle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.landingTitle p {

    font-size: 16vw;
    margin: 0.00vw 0.00vw;
    transform: scaleY(1.4);
    transform-origin: bottom;
    font-weight: 200;
    font-family: 'Spectral';
    line-height: 9.38vw;;
}

ul li {
    margin: 2.60vw;
    /* Adjust the value to set the gap distance */
}

#map {
    width: 20.83vw;
    height: 20.83vw;
}

@media (max-width: 819.0.26vw) {
    .landingTitle #deXifra {
        line-height: 7.81vw;
    }

    .landingTitle #aMapa {
        margin-top: 16.15vw;
        margin-bottom: 11.98vw;
        line-height: 6.77vw;
        text-align: left !important;
    }
}

.textStyle {
    font-size: 1.775rem;
    margin-top: 0.00vw;
    transform: scaleY(1.1);
    transform-origin: bottom;
    line-height: 2.5rem;
    font-weight: 100;
}

.navigation div p:hover {
    border-bottom: 0.10vw solid #002FA7;
    /* Adding a solid outline with a specific thickness */
    cursor: pointer;
    /* Adding a pointer cursor for better UX */
}

.movingText {
    position: absolute;
    text-transform: uppercase;
    font-size: 5.00vw;
    margin: 0;
    margin-top: 1.56vw;
}

.example-left {
    white-space: nowrap;
}

@keyframes animate2 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-200%);
	}
}